.updateproduct {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .content {
    padding: 2em;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content > input {
    margin: 10px;
    width: 80%;
    border-radius: 5px;
    border: none;
    height: 40px;
    background: rgb(245, 245, 245);
    padding: 10px;
    outline: none;
  }

 
  .fileupload {
    background: white !important;
  }
  .content > .desc {
    width: 80%;
    border: none;
    background: rgb(245, 245, 245);
    padding: 10px;
    outline: none;
  }
  .updateproductbtn {
    width: 80%;
    height: 50px;
    padding: 5px 10px;
    border: none;
    background: #677eff;
    color: white;
    border-radius: 20px;
  }

  .updateproductbtn:hover{
      cursor: pointer;
  }
  .imagesection {
    background: green;
    width: 50%;
  }

 

  .addpimage {
    width: 100%;
  }

 

  @media only screen and (max-width: 991.99px) {
    .apheading {
      font-size: 30px;
    }
    .inner {
      display: flex;
      flex-direction: column;
    }
    .content {
      width: 100%;
    }
    .imagesection {
      width: 100%;
    }
    .addproductbtn {
      width: 80%;
    }
  }
  